/* HEADER IMAGE SHOPPING CART */
header{
background-image:url("https://images.unsplash.com/photo-1454165205744-3b78555e5572?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=ca8c08d17555247f7580691500bb5351");    
background-repeat:no-repeat !important;
-webkit-background-size:cover !important;
-moz-background-size:cover !important;
-o-background-size:cover !important;
background-size:cover !important;
background-position:center !important;
}


div img{
 width:300px;
    height: auto;   
}

/* CSS FOR COURSE-EDITOR */
.display-none{
    display:none;
}
 
.padding-bottom-2em{
    padding-bottom:2em;
}
 
.width-30-pct{
    width:30%;
}
 
.width-40-pct{
    width:40%;
}
 
.overflow-hidden{
    overflow:hidden;
}
 
.margin-right-1em{
    margin-right:1em;
}
 
.right-margin{
    margin:0 .5em 0 0;
}
 
.margin-bottom-1em {
    margin-bottom:1em;
}
 
.margin-zero{
    margin:0;
}
 
.text-align-center{
    text-align:center;
}

